<%- include('./partials/navbar.ejs')%>
<%- include('./partials/header.ejs')%>

<div class="container">
    <div class="row">
        <h1 class="text-center">Home Page</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, impedit consectetur enim quis harum labore ea doloribus dicta neque id quasi repellendus iusto odit, dignissimos quas? Rerum vel eum necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi illo vitae deleniti, quis officiis ut magnam facere dolorum. Mollitia quia ipsa eaque ex quidem, nihil ducimus dicta alias autem placeat.</p>
    </div>
</div>


<%- include('./partials/footer.ejs')%>